:root {
  --font-fm: "Nunito", sans-serif;
  --primary-color: rgba(102, 46, 237, 1);
  --secondray-color: rgba(39, 33, 66, 1);
}
body {
  font-family: var(--font-fm);
  color: var(--secondray-color);
  margin: 0;
}
/*============
     navbar
  ============*/
.Recipe-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 48px auto 62px auto;
}
.Recipe-navbar-nav {
  margin-left: 40px;
}
.Recipe-navbar-brand a {
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
  color: var(--secondray-color);
}
.Recipe-navbar-nav a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondray-color);
  margin-left: 32px;
}
a.active {
  color: rgba(102, 46, 237, 1);
}
/*============
      hero 
  ============*/
.hero {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 100px;
  padding: 47px 0;
  color: #ffffff;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("/image/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero h1 {
  font-size: 72px;
  font-weight: 700;
}
.hero h2 {
  font-size: 24px;
  font-weight: 700px;
  margin-top: 4px;
}
/*=========================
     تصویر غذا و عنوان
==========================*/
.container {
  margin: 50px auto;
  padding: 0;
}
.article {
  margin: 0 20px;
}
.roww {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
h3.article-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}
/*=======================
       footer
 ======================*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0 0;
  background-color: rgba(249, 247, 254, 1);
  padding: 40px 140px;
}
.copyright p {
  color: var(--secondray-color);
}
/*=====================================
        media query
=====================================*/
@media (max-width: 900px) {
  .Recipe-navbar {
    flex-direction: column;
    width: 100%;
    margin: 24px 0 12px 0;
  }
  .Recipe-navbar-nav {
    text-align: center;
    margin: 20px 0 0 0;
  }
  .Recipe-navbar-nav a:first-child {
    margin-left: 0;
  }
  .hero {
    margin: 28px 0px 30px 0px;
    padding: 47px 0;
  }
  .hero h1 {
    font-size: 40px;
    margin-bottom: 2px;
  }
  .hero h2 {
    font-size: 12px;
  }

  .container {
    padding: 0;
    margin: 20px auto;
    max-width: 60%;
  }
  .article {
    margin: 10px 0;
    text-align: center;
  }
  .roww {
    flex-direction: column;
    margin: 10px 0;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    order: 0;
  }
  .article img {
    order: 3;
  }
  footer {
    display: none;
  }
}
