:root {
  --font-fm: "Nunito", sans-serif;
  --primary-color: rgba(102, 46, 237, 1);
  --secondray-color: rgba(39, 33, 66, 1);
}
body {
  font-family: var(--font-fm);
  color: var(--secondray-color);
}
/*============
     navbar
  ============*/
.Recipe-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 48px 140px 62px 140px;
}
.Recipe-navbar-nav {
  margin-left: 40px;
}
.Recipe-navbar-brand a {
  font-size: 32px;
  font-weight: 800;
  text-decoration: none;
  color: var(--secondray-color);
}
.Recipe-navbar-nav a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondray-color);
  margin-left: 32px;
}
a.active {
  color: rgba(102, 46, 237, 1);
}
/*============
      hero 
  ============*/
.hero {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 100px;
  padding: 47px 0;
  color: #ffffff;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("/image/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero h1 {
  font-size: 72px;
  font-weight: 700;
}
.hero h2 {
  font-size: 24px;
  font-weight: 700px;
  margin-top: 4px;
}
/*=========================
     تصویر غذا و عنوان
==========================*/
.container {
  margin: 50px 140px;
  padding: 0;
  max-width: 1160px;
}
.article {
  margin: 0 20px;
}
.roww {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
h3.article-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}
/*=======================
       footer
 ======================*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0 0;
  background-color: rgba(249, 247, 254, 1);
  padding: 40px 140px;
}
.copyright p {
  color: var(--secondray-color);
}
