:root {
  --font-fm: "Nunito", sans-serif;
  --primary-color: rgba(102, 46, 237, 1);
  --secondray-color: rgba(39, 33, 66, 1);
}
body {
  font-family: var(--font-fm);
  color: var(--secondray-color);
  margin: 0;
}
/*============
     navbar
  ============*/
.Recipe-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 48px auto 62px auto;
}
.Recipe-navbar-nav {
  margin-left: 40px;
}
.brand-logo a {
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
  color: var(--secondray-color);
}
.Recipe-navbar-nav a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondray-color);
  margin-left: 32px;
}
a.active {
  color: rgba(102, 46, 237, 1);
}
/*============
      hero 
  ============*/
.hero {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 100px;
  padding: 47px 0;
  color: #ffffff;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("/image/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero h1,
.aboutme-section h1,
.aboutme-sm-image,
.contact-us-h1 {
  font-size: 72px;
  font-weight: 700;
}
.hero h2 {
  font-size: 24px;
  font-weight: 700px;
  margin-top: 4px;
}
/*=========================
     تصویر غذا و عنوان
==========================*/
.homepage-container {
  width: 1160px;
  margin: 50px auto;
  padding: 0;
}
.homepage-container img {
  max-width: 560px;
}
.article {
  margin: 0 20px;
}
.roww {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.article-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}
/*=======================
     about me page
=======================*/
.aboutme-section {
  max-width: 1160px;
  display: block;
  margin: 0 auto;
}
.aboutme-section h1 {
  margin: 26px auto 126px auto;
}
.aboutme-article {
  padding: 0 100px 100px 100px;
}
.aboutme-article-text {
  margin-left: 40px;
}

.aboutme-article h2 {
  margin-bottom: 36px;
  font-size: 64px;
  font-weight: 700px;
}
.aboutme-article .aboutme-article-text {
  padding: 62px 0px;
}
.aboutme-article .aboutme {
  margin-bottom: 52px;
  font-size: 18px;
  font-weight: 400;
}
.aboutme-article .follow-me {
  font-size: 18px;
  font-weight: 700;
}
.aboutme-article .follow-me a {
  margin-left: 30px;
}
.cards-row {
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
}
.favorite-card {
  margin-left: 40px;
  border: none;
}
.favorite-card img {
  margin-bottom: 20px;
  height: 350px;
}
.favorite-card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.favorite-card p {
  font-size: 16px;
  font-weight: 400;
}
/*=======================
  Recipe Collection page
========================*/
.recipe-collection-container {
  max-width: 760px;
  display: block;
  margin: 0 auto 60px auto;
  padding: 10px;
}
.recipe-collection-h1 {
  margin: 26px auto 48px auto;
  font-size: 48px;
  font-weight: 700;
}
.food-title {
  margin-top: 14px;
  margin-bottom: 32px;
  font-weight: 700;
}
.recipe-collection-container .ingredient {
  border-bottom: 1px dashed #67d5d2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.recipe-collection-container h3 {
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px dashed #67d5d2;
  padding-bottom: 25px;
  margin-top: 36px;
  margin-bottom: 32px;
}
.recipe-collection-container .step {
  margin-top: 30px;
}
.recipe-collection-container .step h4 {
  font-size: 18px;
  font-weight: 800;
  color: #f65282;
  line-height: 1.5;
}
/*======================
       contactus-page
=======================*/
.contactus-page {
}
.contact-us-h1 {
  margin: 73px 0 98px 0;
}
.contact-page-image {
  max-width: 460px;
}
.contact-page-info {
  padding: 26px;
}
.contact-page-info h2 {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact-page-info .info {
  display: flex;
  justify-items: center;
  margin-bottom: 15px;
}
.contact-page-info .info i {
  margin-right: 18px;
}
/*======================
       footer
 ======================*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0 0;
  background-color: rgba(249, 247, 254, 1);
  padding: 40px 140px;
}
.social-media-address a {
  margin-left: 30px;
  text-decoration: none;
  color: var(--secondray-color);
}
.copyright p {
  color: var(--secondray-color);
}
/*=====================================
        media query
=====================================*/
@media (max-width: 900px) {
  .Recipe-navbar {
    flex-direction: column;
    width: 100%;
    margin: 24px 0 12px 0;
  }
  .Recipe-navbar-nav {
    text-align: center;
    margin: 20px 0 0 0;
  }
  .Recipe-navbar-nav a:first-child {
    margin-left: 0;
  }
  .hero {
    margin: 28px 0px 30px 0px;
    padding: 47px 0;
  }
  .hero h1 {
    font-size: 40px;
    margin-bottom: 2px;
  }
  .hero h2 {
    font-size: 12px;
  }

  .homepage-container {
    padding: 0;
    margin: 20px auto;
    max-width: 60%;
  }
  .article {
    margin: 10px 0;
    text-align: center;
  }
  .roww {
    flex-direction: column;
    margin: 10px 0;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    order: 0;
  }
  .article img {
    order: 3;
  }
  .cards-row {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
  }
  .aboutme-article-text {
    margin-left: 0;
    text-align: center;
  }
  .aboutme-section h1 {
    margin: 34px auto 5px auto;
  }
  .aboutme-article {
    padding: 0;
  }
  .aboutme-article-text {
    margin-left: 0;
  }
  .aboutme-article .aboutme {
    margin-bottom: 38px;
    font-size: 18px;
    font-weight: 400;
  }
  .aboutme-article h2 {
    margin-bottom: 36px;
    font-size: 58px;
    font-weight: 700px;
  }
  .aboutme-article .aboutme-article-text {
    padding: 32px 0px;
  }
  .aboutme-article .aboutme-article-text .aboutme-sm-image {
    width: 360px;
    margin: 10px auto;
  }
  .favorite-recipe {
    margin-top: 32px;
  }
  footer {
    display: none;
  }
}
@media (min-width: 900px) {
  .contactus-page .container {
    display: flex;
    justify-content: center;
  }
  .contact-page-info .info {
    margin-bottom: 50px;
    align-items: baseline;
  }
  .recipe-collection-container .recipe-card-image {
    width: 760px;
  }
  .recipe-collection-container .recipe-row {
    display: flex;
  }
  .recipe-row .column {
    width: 50%;
  }
  .recipe-collection-container .step {
    margin: 40px;
  }
  .column .method {
    padding-left: 40px;
  }
}
